*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.item{
    background-color: #ccc;
    border: 1px solid #888;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(7, 1fr);
}

.elemento1 {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    background-color: #f3dddd;
}

.elemento2 {
    grid-area: 1 / 4 / 3 / 8; 
    background-color: #90ecca;
    /* linha de inicio / coluna de inicio / linha final / coluna final */

}

.elemento3{
    grid-row: 3;
    grid-column: 4 / span 2;
    background-color: rgb(199, 239, 239);
}

.elemento4 {
    grid-row: 3;
    grid-column: 6 / span 2;
    background-color: #f4f2a4;
}